@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.about {
    height: 100%;
    padding: 50px 0;
    background-color: black;
    font-family: "Montserrat", sans-serif;

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-card {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    &-card-item {
        width: 250px;
        height: 300px;
        background-color: white;
        box-shadow: 2px 2px 20px #959595;
        border-radius: 6px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        
        img {
            width: 130px;
            height: 100px;
        }
    }
}