@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.contact {
    height: 100vh;
    padding: 50px 0;
    background-image: url("/images/sity-contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Montserrat", sans-serif;

    &-bg2 {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .7;
        position: absolute;
        top: 0;
        left: 0;
    }

    &-wrap {
        width: 100%;
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        color: white;
        font-size: 42px;

        @media screen and (max-width: 570px){
            font-size: 36px;
        }
    }

    &-desc {
        color: white;
        font-size: 18px;
        margin-top: 20px;
        text-align: center;

        @media screen and (max-width: 570px){
            font-size: 16px;
        }

        @media screen and (max-width: 470px){
            font-size: 14px;
            padding: 0 20px;
        }
    }

    &-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 50px;
        
        @media screen and (max-width: 1000px){
            flex-direction: column;
            gap: 50px;
        }
    }

    &-left {
        width: 400px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding: 100px 0;

        @media screen and (max-width: 1000px){
            height: 100%;
            padding: 0;
            gap: 30px;
        }
    }

    &-img {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 470px){
            display: none;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @media screen and (max-width: 570px){
            font-size: 16px;
        }
    }

    &-text-title {
        font-weight: 600;
        color: teal;
    }

    &-about {
        display: flex;
        align-items: center;
        gap: 20px;
        color: white;
        font-size: 18px;
        padding: 0 20px;
    }

    &-right {
        width: 450px;
        height: 400px;
        background-color: white;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
        padding: 30px 24px;

        input {
            border: none;
            border-bottom: 2px solid black;
            width: 100%;
            padding: 8px 0;
            outline: none;
        }

        @media screen and (max-width: 570px){
            width: 400px;
        }

        @media screen and (max-width: 470px){
            width: 350px;
        }
    }

    &-send {
        background-color: teal;
        padding: 12px 24px;
        color: white;
        font-weight: 600;
        border-radius: 6px;
    }
}